@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');*/

 
/* Estilos generales */

{
  margin: 0;
  padding: 0;
  
}



body {
  font-family: Arial, sans-serif;
  margin: 20px; 
  text-align: justify;
  background: url(imagen/blac.avif)
  
}

container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos del menú de navegación */

ul{
 display: flex;
 justify-content: space-evenly;
 list-style: none;
 
 background-color: antiquewhite;
 padding: 15px 0px;



}

a{
  text-decoration: none;
}


/* Estilos de los encabezados */

h1,h3,h4,h2 {
  text-align: center;
  margin-top: 30px;

}


/* Estilos de las imágenes */

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}

/* Estilos de los párrafos */

p {
  text-align: justify;
  margin-top: 30px;
}


/* Estilos del formulario de contacto */

.formulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eee9ee8c;
  border-radius: 5px;
  margin-top: 20px;
}


label {
  display: block;
  margin-bottom: 10px;
}



/* Estilos del pie de página */


.contenedor{
  text-align: right;
  display: flex;
  justify-content: right;
  gap: 10px;
}

.contenedor a{
  font-size: 40px;
}

/*arreclos*/


/*header superior*/

.header__superior{
  max-width: 1200px;
  margin: 0;
  display: flex;
  align-items: last baseline;
  justify-content: space-between;


}

/*barra menu*/


.logo img{
  width: 250px;
  text-align: left;
}

.search input{
  width: 300px;
  padding: 10px;
}


.menu{
  max-width: 1200px;
  margin: 0;
  height: 100%;

}

.facebook{
  color: blue;
}

.instagram{
  color: #eee9e98c;
}
 