@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');*/

 
/* Estilos generales */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px; 
  text-align: justify;
  background: url(imagen/blac.avif)
  
}

container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos del menú de navegación */

ul {
 display: flex;
 justify-content: space-evenly;
 list-style: none;
 background-color: antiquewhite;
 padding: 15px 0px;


}

a {
  text-decoration: none;
}


/* Estilos de los encabezados */

h1,h3,h4,h2,h5 {
  text-align: center;
  margin-top: 30px;

}


/* Estilos de las imágenes */

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}

img 

/* Estilos de los párrafos */

p {
  text-align: justify;
  margin-top: 30px;
}

.label {
  display: block;
  margin-bottom: 10px;
}



/* Estilos del pie de página */


.contenedor{
  text-align: right;
  display: flex;
  justify-content: right;
  gap: 10px;
}

.contenedor a{
  font-size: 40px;
}


/*header superior*/

.header__superior{
  max-width: 1200px;
  margin: 0;
  display: flex;
  align-items: last baseline;
  justify-content: space-between;


}

/*barra menu*/


.logo img{
  width: 250px;
  text-align: left;
}

.search input{
  width: 300px;
  padding: 10px;
}


.menu{
  max-width: 1200px;
  margin: 0;
  height: 100%;

}

.facebook{
  color: blue;
}

.instagram{
  color: #770a618c;

}

/*formulario registro*/

 .form-register {
   width: 300px;
   background: #fd1ed060;
   padding: 20px;
   margin: auto;
   margin-top: auto;
   border-radius: 5px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: white;
   
 }
 .form-register h5 {
  font-size: 20px;
  margin-bottom: 20px;

 }
 
 .controls {
   width: 100%;
   background: #ece7ee8c;
   padding: 8px;
   border-radius: 4px;
   margin-bottom: 8px;
   border: 1px  solid  rgb(0, 174, 255) ;
   font-family:18px;
   
 }

 .form-register p {
  height: 40px ;
  text-align: center;
  font-size: 18px;
 }

 .form-register a {
  color:white;
  text-decoration: none;

 }
 .form-register .botons {
  width: 100%;
  background: #be3d738c;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
 }